
.nav {
  background-color: rgb(156, 185, 238);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
  height:70px;
}

.project-name {
  font-family: "Courier New", Courier, monospace;
  font-size:30px;
}
/* TEXT DECORATION NONE?? */
.nav h4 {
  text-decoration: none!important;
  font-family: "Courier New", Courier, monospace;
  color: black;
}

.account-container {
 background-color: #FFE8E1;
 font-family: "Courier New", Courier, monospace;
 border-radius: 10px;
 padding: 10px;
 margin: 5px;
 border-style: double;
 border-color: #d86e6e;
 border-width: 10px;
 font-size: 15px;
 font-weight: 10px;
}



.account-summary {
  padding: 20px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  border-style: double;
  border-color: #c9184a;
  border-width: 1px;
  font-size: 15px;
  font-weight: 10px;
  border-radius: 10px;
  background-color: #f8ccde;
}

.account-table-container {
  display: flex;
  padding: 20px;
  margin: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  /* background-color: #f8ccde; */
  background-image: url(https://64.media.tumblr.com/015bd8d0018dcf2aee452ed3c1ef0d7d/tumblr_pda4s2ELVb1xtp43co1_400.png);
  border-style: double;
  border-color: #c9184a;
  border-width: 1px;
  font-size: larger;
}

.account-table {
  width: 90%;
  border-spacing: 10px;
  padding: 20px;
  border-radius: 15px;
  background-color: #e6e4dd;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 3px 8px;
}

tbody {
  text-align: center;
}

.single-transaction{

}

.single-transaction:hover {
  background-color: rgb(243, 243, 243);
}

.hr5 {
  border: 0;
  border-top: 1px dashed #CCC;
  border-bottom: 2px solid #CCC;
  height: 3px;
}

.charts{
  justify-content: center;
  align-items: center;
}

.charts-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.pinimg.com/564x/eb/3e/ee/eb3eee4e1d6b7c99df734bbf30598bb1.jpg);
  border-radius: 3px;
  border-style: double;
  border-color: #c9184a;
  border-width: 1px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: larger; 
}

.bar-graph{
  justify-content: center;
  align-items: center;
  background-color: #F2F7F2;
  margin: auto;
  padding: 15px;
  text-align: center;
  border-radius: 3px;
  border-style: double;
  border-color: #8A8E91;
  border-width: 4px;
}

.pie-chart{
  justify-content: center;
  align-items: center;
  background-color: #F2F7F2;
  margin: auto;
  padding: 15px;
  text-align: center;
  border-radius: 3px;
  border-style: double;
  border-color: #8A8E91;
  border-width: 4px;
}

.edit-container, .new-container, .details-container {
  border-radius: 3px;
  border-style: double;
  border-color: #8A8E91;
  border-width: 4px;
  justify-content: center;
  align-items: center;
  background-color: #F2F7F2;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.edit-buttons, .new-buttons, .details-buttons {
  margin: 10px;
  padding: 8px;
  font-weight: bold;
  letter-spacing: 1px;
  color: ghostwhite;
  font-size: 1em;
  background-color: #cfbaf0;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  border-radius: 2px;
}

.edit-buttons, .new-buttons:hover{
    background-color: #d49eca;
    color: rgb(253, 253, 253);
    letter-spacing: 2px;
}

.hrFancy {
  border: 0;
  border-top: medium double #CCC;
  height: 1px;
  overflow: visible;
  padding: 0;
  color: #CCC;
  text-align: center;
}

.hrFancy::after {
  content: "ℒ𝒮";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.3em;
  background: rgb(255, 255, 255);
  border-radius: 2px;
}

.details-info-container {
  margin: 10px;
  padding: 20px;
  background-color: ghostwhite;
  border-radius: 600px;
}

.details-buttons {
  margin: 10px;
  padding: 8px;
  font-weight: bold;
  letter-spacing: 1px;
  color: ghostwhite;
  font-size: 1em;
  background-color: #cfbaf0;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  border-radius: 2px;
}

.details-buttons:hover{
    background-color: #d49eca;
    color: rgb(253, 253, 253);
    letter-spacing: 2px;
}